﻿@font-face {
    font-family: 'BPG Arial';
    src: url('/assets/fonts/BPG_Arial_2010.ttf')
}

@font-face {
    font-family: 'BPG Arial Caps';
    src: url('/assets/fonts/BPG_Arial_Caps_2010.ttf')
}

.caps {
    font-family: 'BPG Arial Caps' !important
}

.geo {
    font-family: 'BPG Arial' !important
}
